/node_modules
/public/images
/public/css/style.css
/public/js/app.js
/public/js/app2.js
/public/js/plugins
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vagrant
data
dump.rdb
go-pear.phar
Homestead.json
Homestead.yaml
mongod
php.ini
php_errors.log
yarn-error.log
.env
